<div class="horz-div mdl-cell mdl-grid.center-items vert-div">
  <div class="mdl-card mdl-shadow--4dp card-wide">
    <div class="mdl-card__title center">
      <h5>{{company}}</h5>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        ${{symbol}}
      </p>
      <p>
        <strong>Sector: </strong>{{sector}}
      </p>
      <p>
        <strong>Revenue: </strong>{{revenue}}
      </p>
      <p>
        <strong>Total Assets: </strong>{{assets}}
      </p>
      <p>
        <strong>Net Income: </strong>{{income}}
      </p>
    </div>
  </div>
</div>
